[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-json-logger = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.10"
